@use 'variables' as *;

.content-container {
    height: $max-height;
    width: $center-width;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
}

.gallery-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: .5rem;
    width: $max-width;
}
.gallery-caption {
    text-align: center;
    height: $max-height;
    width: 50%;
}
