@use 'mixins';
@use 'variables' as *;

*, *::after, *::before {
    @include mixins.reset;
}

body {
    height: 100vh;
    width: 100vw;
    // line-height: 2rem;
    font-size: 1.2rem;
    scroll-snap-type: y mandatory;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-y: scroll;
    overflow-x: hidden !important;
}

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}

.active {
    transform: translateY(0);
    opacity: 1;
}

body header {
    overflow-x:hidden !important;
}

.nav-wrapper, .about-section, footer {
    scroll-snap-align: center;
}

.nav-wrapper {
    width: 100vw !important;
    & .nav-content {
        width: 80% !important;
    }

    & .navbar-brand img {
        width: 80px;
    }

    & li {
        padding: .5rem;
        a {
            background: none;
            font-weight: 500;
            color: $primary-white;
            text-transform: uppercase;
        }
    }

}

.hero {
    height: 85%;
    overflow: hidden;
    & .slider-container {
        position: relative;
        left: 0;
        display: flex;
        height: 100%;
        width: 300%;
        -webkit-animation: 30s slides infinite;
                animation: 30s slides infinite; 
    }

    & .slider-container > div {
        height: 100%;
        width: 100%;
    }

    & .slider-container div:nth-child(1) {
        background: transparent url('../img/slider-4-slide-1-1920x678.jpg') top center/cover no-repeat;
    }

    & .slider-container div:nth-child(2) {
        background: transparent url('../img/slider-4-slide-2-1920x678.jpg') top center/cover no-repeat;
    }

    & .slider-container div:nth-child(3) {
        background: transparent url('../img/slider-4-slide-3-1920x678.jpg') top center/cover no-repeat;
    }

    & .slider-dots {
        position: relative;
        bottom: 10%;

        & div span {
            display: inline-block;
            height: 15px;
            width: 15px;
            margin: 0 1rem;
            background: $primary-white;
            border-radius: 100%;
        }

        & div .active {
            background: #3BACB6;
        }
    }

    & .content-wrap {
        color: $primary-white;
        position: absolute;
        top: 0;
        height: inherit;
        width: 100%;

        & .slider-content {
            width: 80%;
        }

        & .slider-content h1 {
            margin: 0;
            font-weight: 600;
            -webkit-animation: fadeDown 2s;
                    animation: fadeDown 2s;
        }

        & .slider-content a {
            display: inline-block;
            color: $primary-white;
            text-decoration: none;
            padding: .8rem;
            border: 2px solid $primary-white;
        }

        & .slider-content p {
            -webkit-animation: fadeRight 1s;
                    animation: fadeRight 1s;
        }
    }
}

@-webkit-keyframes fadeDown {
    0% {
      opacity: 0;
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      transform: none;
    }
}

@keyframes fadeDown {
    0% {
      opacity: 0;
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      transform: none;
    }
}


@-webkit-keyframes fadeRight {
    from {
      opacity: 0;
      transform: translate3d(100%, 0, 0);
    }
  
    to {
      opacity: 1;
      transform: none;
    }
}


@keyframes fadeRight {
    from {
      opacity: 0;
      transform: translate3d(100%, 0, 0);
    }
  
    to {
      opacity: 1;
      transform: none;
    }
}