*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  font-size: 1.2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.active {
  transform: translateY(0);
  opacity: 1;
}

.nav-wrapper {
  background: transparent;
}
.nav-wrapper .nav-content {
  width: 80%;
}
.nav-wrapper .navbar-brand img {
  width: 80px;
}
.nav-wrapper li {
  padding: 0.5rem;
}
.nav-wrapper li a {
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
}

.hero {
  height: 85%;
}
.hero .slider-container {
  position: relative;
  left: 0;
  display: flex;
  height: 100%;
  width: 300%;
  animation: 30s slides infinite;
}
.hero .slider-container > div {
  height: 100%;
  width: 100%;
}
.hero .slider-container div:nth-child(1) {
  background: transparent url("../img/slider-4-slide-1-1920x678.jpg") top center/cover no-repeat;
}
.hero .slider-container div:nth-child(2) {
  background: transparent url("../img/slider-4-slide-2-1920x678.jpg") top center/cover no-repeat;
}
.hero .slider-container div:nth-child(3) {
  background: transparent url("../img/slider-4-slide-3-1920x678.jpg") top center/cover no-repeat;
}
.hero .slider-dots {
  position: relative;
  bottom: 10%;
}
.hero .slider-dots div span {
  display: inline-block;
  height: 15px;
  width: 15px;
  margin: 0 1rem;
  background: #fff;
  border-radius: 100%;
}
.hero .slider-dots div .active {
  background: #3BACB6;
}
.hero .content-wrap {
  color: #fff;
  position: absolute;
  top: 0;
  height: inherit;
  width: 100%;
}
.hero .content-wrap .slider-content {
  width: 80%;
}
.hero .content-wrap .slider-content h1 {
  margin: 0;
  font-weight: 600;
  animation: fadeDown 2s;
}
.hero .content-wrap .slider-content a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 0.8rem;
  border: 2px solid #fff;
}
.hero .content-wrap .slider-content p {
  animation: fadeRight 1s;
}

@keyframes fadeDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.about-section {
  height: 100%;
  background: #EDE9E8;
}
.about-section .wrap-sides {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 80%;
}
.about-section .wrap-sides .container-left {
  text-align: justify;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  width: 50%;
}
.about-section .wrap-sides .container-right {
  display: none;
  position: relative;
  text-align: center;
  width: 45%;
  height: 60%;
  background: #212529 url("/assets/img/picture.jpg") top center/cover no-repeat;
}
.about-section .wrap-sides .container-right:hover {
  opacity: 0.5;
}

@keyframes showpic {
  0% {
    right: -100%;
    transform: rotate(180deg);
  }
  100% {
    right: 0%;
    transform: rotate(0deg);
  }
}
@keyframes hidepic {
  0% {
    right: 0%;
    transform: rotate(0deg);
  }
  100% {
    right: -100%;
    transform: rotate(180deg);
  }
}
@media (max-width: 800px) {
  .navbar {
    background: #212529;
    padding: 1rem 0;
  }
  .slider-content p {
    font-size: 1rem;
  }
  .slider-content a {
    font-size: 1rem;
    padding: 0.5rem;
  }
  .about-section .wrap-sides {
    font-size: 0.8rem;
    align-content: space-around;
    height: 100%;
    width: 100%;
    flex-direction: column;
  }
  .about-section .wrap-sides .container-left {
    height: 50%;
  }
  .about-section .wrap-sides .container-right {
    height: 40%;
    width: 50%;
  }
}

/*# sourceMappingURL=style.css.map */
